[Unit]
Description=etcd
Requires=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/bin/etcd __SELF_IP_TRIM__ \
  --initial-advertise-peer-urls http://__SELF_IP__:2380 \
  --listen-peer-urls http://__SELF_IP__:2380 \
  --listen-client-urls http://__SELF_IP__:2379,http://127.0.0.1:2379 \
  --advertise-client-urls http://__SELF_IP__:2379 \
  --initial-cluster-token mayacluster \
  --initial-cluster __ETCD_INITIAL_CLUSTER__ \
  --initial-cluster-state new
Restart=always
