# This is Nomad server's bootstrap config file

bind_addr = "__SELF_IPV4__"

advertise {
  # We need to specify this host's IP because we can't
  # advertise 0.0.0.0 to other nodes in our cluster.
  rpc = "__SELF_IPV4__:4647"
}


# Increase log verbosity
log_level = "DEBUG"

# Setup data dir
data_dir = "/opt/nomad/data"

# Enable the server
server {
    enabled = true

    # Self-elect, should be 3 or 5 for production
    bootstrap_expect = 3
}
